
<div class="product-list">
  <div class="table-container">
    <table class="product-table">
      <thead>
      <tr>
        <th>Logo
          <img src="/info.png" alt="Info Icon" class="info-icon" /></th>
        <th>Nombre del producto <img src="/info.png" alt="Info Icon" class="info-icon" /></th>
        <th>Descripción <img src="/info.png" alt="Info Icon" class="info-icon" /></th>
        <th>Fecha de liberación <img src="/info.png" alt="Info Icon" class="info-icon" /></th>
        <th>Fecha de reestructuración <img src="/info.png" alt="Info Icon" class="info-icon" /></th>
        <th>Acciones <img src="/info.png" alt="Info Icon" class="info-icon" /></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of visibleProducts">
        <td><img [src]="product.logo" alt="Product Logo" class="product-logo" /></td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.date_release }}</td>
        <td>{{ product.date_revision }}</td>
        <td>
          <select class="page-size-selector" (change)="onAction($event, product)">
            <option value="">Seleccione</option>
            <option value="update">Editar</option>
            <option value="delete">Eliminar</option>
          </select>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination">
    <span>{{ filteredProducts.length }} Resultados</span>
    <select id="pageSize" (change)="onPageSizeChange($event)">
      <option value="5" [selected]="pageSize === 5">5</option>
      <option value="10" [selected]="pageSize === 10">10</option>
      <option value="20" [selected]="pageSize === 20">20</option>
    </select>
  </div>

</div>
<!-- Add a container for the modal -->
<div #modalContainer></div>

<!-- Existing template content -->
