<div class="layout">
  <!-- Header -->
  <header class="header">
    <div class="logo-container">
      <img src="assets/logo.png" alt="Banco Logo" class="logo" />
      <h1 class="title">BANCO</h1>
    </div>
  </header>

  <!-- Main Content -->
  <main class="content">
    <div class="container">
      <div class="product-container" *ngIf="showSearchAndButton">
        <app-search-input class="search-input"></app-search-input>
        <app-button label="Agregar" (action)="onAction()"></app-button>
      </div>
      <router-outlet></router-outlet>
    </div>


  </main>
</div>
